:root {
  --dark-roast: #3e2723;
  --mocha: #5d4037;
  --caramel: #a1887f;
  --cream: #d7ccc8;
  --chestnut: #b74731;
}
/*container*/
html,
body,
.container {
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  background: var(--cream);
  box-sizing: border-box;
  max-width: 1023px;
}
/* navbar*/
a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-roast);
  color: var(--cream);
  padding: 0px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-lists ul {
  display: flex;
  gap: 20px;
}
.navbar-lists ul .home {
  color: var(--chestnut);
}
.navbar-lists ul li {
  list-style: none;
  cursor: pointer;
}
.navbar-lists ul li:hover {
  border-bottom: 2px solid var(--caramel);
  transition: border-bottom 3s ease-in-out;
}
/* hero-section */
.hero {
  height: 50vh;
  background: url(images/coffee-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  padding: 20px;
}
.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.hero-topic {
  letter-spacing: 1px;
  font-family: monospace;
}
.hero-info h2 {
  color: var(--chestnut);
  margin-bottom: 0px;
}
.hero-para {
  width: 50%;
  margin-bottom: 25px;
}
.read-more,
.about-btn {
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  background: var(--dark-roast);
  color: whitesmoke;
  cursor: pointer;
}
.read-more:hover,
.about-btn:hover {
  background: var(--chestnut);
}
/* about */
.about-us {
  display: flex;
  padding: 40px 20px;
  justify-content: space-between;
  align-items: center;
  color: var(--mocha);
}
.about-para {
  width: 50%;
}
.about-para h2 {
  color: var(--chestnut);
}
.about-para p {
  margin-bottom: 30px;
}
.about-image {
  width: 400px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--dark-roast);
}
.about-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* menu */
.menu {
  padding: 20px;
  background: url(images/smoke.jpg);
}
.menu-title {
  text-align: center;
}
.menu-title h2 {
  color: var(--cream);
  margin-bottom: 30px;
}
.menu-lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  margin: auto;
  justify-items: center;
  align-items: center;
  color: var(--mocha);
  margin-bottom: 20px;
}
.coffee-card {
  width: 200px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background: whitesmoke;
  box-shadow: 2px 2px 10px var(--dark-roast);
  transition: transform 0.6s ease-in-out;
}
.coffee-card:hover {
  transform: scale(1.1);
}
.coffee-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}
/* seasonal */
#seasonal {
  padding-top: 20px;
}
.seasonal-title {
  text-align: center;
  color: var(--mocha);
}
.seasonal-title p {
  margin-bottom: 40px;
  color: var(--dark-roast);
}
.seasonal-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin: auto;
  justify-items: center;
  align-items: center;
}
.seasonal-card {
  width: 400px;
  padding: 15px;
  background: whitesmoke;
  border-radius: 10px;
  text-align: center;
  color: var(--chestnut);
  margin-bottom: 40px;
}
.seasonal-card:nth-child(1):hover {
  background: lightpink;
}
.seasonal-card:nth-child(2):hover {
  background: lightseagreen;
}
.seasonal-card:nth-child(3):hover {
  background: lightsalmon;
}
.seasonal-card:nth-child(4):hover {
  background: lightgray;
}
.seasonal-card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.video-container {
  text-align: center;
  margin: 20px 0px 0px;
  padding: 20px;
  background: url(images/smoke.jpg);
  color: var(--cream);
}
iframe {
  border-radius: 10px;
}
/* about us more */
.about {
  padding: 20px;
}
.our-journey h2 {
  color: var(--chestnut);
}
.our-journey p {
  color: var(--mocha);
}
.about-values {
  display: flex;
  gap: 20px;
}
.mission,
.values {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  color: var(--dark-roast);
  box-shadow: 0px 1px 4px var(--dark-roast);
}
.mission h3,
.values h3 {
  margin-bottom: 0px;
  color: var(--chestnut);
}
.values ul {
  list-style: none;
  padding: 0;
}
.coffee-process {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
.about-process h3 {
  color: var(--chestnut);
}
.about-process p {
  color: var(--mocha);
}
.garden,
.grind,
.dry,
.use {
  width: 200px;
  height: 160px;
}
.garden:hover {
  content: "Pick up fresh bean";
}
.garden img,
.grind img,
.dry img,
.use img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* image hover with content*/
.garden,
.dry,
.grind,
.use {
  position: relative;
  display: inline-block;
}
.garden::after,
.dry::after,
.grind::after,
.use::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-roast);
  color: whitesmoke;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.garden:hover::after,
.dry:hover::after,
.grind:hover::after,
.use:hover::after {
  opacity: 1;
}
.garden::after {
  content: "Picked Fresh From Garden";
}
.dry::after {
  content: "Dried with precision";
}
.grind::after {
  content: "High quality Grinding";
}
.use::after {
  content: "Brewed in your cup";
}
/* team */
.team {
  padding: 40px 20px;
  background: url(images/smoke.jpg);
  margin-top: 20px;
}
.team h2{
  text-align: center;
  color: var(--caramel);
}
.team p{
  text-align: center;
  margin-bottom: 40px;
  color: var(--cream);
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
}
.team-member {
  width: 150px;
  padding: 15px;
  background: whitesmoke;
  border-radius: 5px;
  text-align: center;
}
.team-member p,
.team-member h3 {
  margin: 10px;
  color: var(--mocha);
}
.team-member img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.team-member img:hover{
  transform: scale(1.2);
}
p.head{
  color: var(--chestnut);
  text-shadow: 0px 1px 0px black;
}
p.pastry{
  color: blue;
  text-shadow: 0px 1px 0px black;
}
p.barista{
  color: pink;
  text-shadow: 0px 1px 0px black;
}
p.cashier{
  color: darkgreen;
  text-shadow: 0px 1px 0px black;
}
/* testimony */
.testimony {
  padding: 20px;
}
.testimony h2 {
  color: var(--chestnut);
}
.customers {
  display: flex;
  align-items: center;
  gap: 20px;
}
.customer-saying h3 {
  color: var(--dark-roast);
}
.customer-saying p {
  color: var(--mocha);
}
.customer-image img {
  border-radius: 2px;
}
.arrow-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#right-arrow {
  padding: 5px;
  border: none;
  background: var(--mocha);
  color: var(--cream);
  border-radius: 2px;
  cursor: pointer;
}
#left-arrow {
  padding: 5px;
  border: none;
  background: var(--chestnut);
  color: var(--cream);
  border-radius: 2px;
  cursor: pointer;
}
/* contact */
.contact-container {
  padding: 40px 20px;
}
.contact-container h2,
.contact-container p {
  margin: 5px;
}
.contact-container h2 {
  color: var(--chestnut);
  margin-bottom: 20px;
}
.contact-container p {
  color: var(--mocha);
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 85px;
}
#contact-email {
  color: var(--caramel);
}
.icon-container-1 {
  max-width: 400px;
  height: 460px;
  border-radius: 10px;
}
.contact-icon-1 {
  width: 100%;
  transition: all 0.3s ease-in-out;
  border: 10px solid var(--dark-roast);
  border-radius: 5px;
}
.contact-icon-1:hover {
  border: 10px solid var(--chestnut);
}
.form-container {
  display: flex;
  max-width: 500px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  width: 400px;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 400px;
  padding: 20px;
  height: 200px;
  border: none;
  border-radius: 5px;
}
form #submitBtn,
form #discount-submit {
  width: 150px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: var(--dark-roast);
  color: whitesmoke;
}

form #submitBtn:hover {
  background: var(--chestnut);
}
.hidden {
  display: none;
}
#thankyou {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mocha);
  color: white;
  padding: 35px 25px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 3px 4px rgba(98, 93, 93, 0.2);
  cursor: pointer;
}
/* discount */
.discount {
  padding:20px;
  padding-bottom: 40px;
  background: url(images/smoke.jpg);
}
.discount h3 {
  color: var(--chestnut);
}
.discount-title .time {
  font-style: italic;
  font-weight: 700;
  color: var(--dark-roast);
}
#discount-submit {
  margin-left: 20px;
}
#discount-submit:hover {
  background: var(--chestnut);
}
#timer {
  padding: 40px 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  color: whitesmoke;
  letter-spacing: 5px;
  background: var(--chestnut);
  margin: 20px 0px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 4px 10px var(--dark-roast);
}
.fail-message,
.success-message {
  margin-top: 20px;
  font-size: 20px;
}

.form-discount {
  display: flex;
}

.humber-btn {
  display: none;
}

@media (max-width: 765px) {
  .hero {
    height: 55vh;
  }
  .about-image {
    width: 200px;
    height: 300px;
  }
  .menu-lists {
    margin: auto auto;
  }
  .seasonal-card {
    width: 300px;
  }
  .contact {
    flex-direction: column;
  }
  form input {
    width: 300px;
  }
  form textarea {
    width: 300px;
  }
  .icon-container-1 {
    max-width: 350px;
    height: 400px;
  }
  #timer {
    width: 300px;
    padding: 30px 0px;
  }
  .humber-btn {
    display: block;
    z-index: 2;
    position: relative;
    left: 90px;
  }
  .navbar-lists ul {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .navbar-lists ul.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: var(--cream);
    top: 0px;
    right: 0px;
    height: 500px;
    width: 100%;
    color: var(--chestnut);
    margin-top: 0px;
    gap: 40px;
    font-size: 20px;
  }
  .contact-container h2,
  .contact-container p {
    text-align: center;
  }
  button#submitBtn {
    margin: auto;
  }
  iframe {
    width: 380px;
    height: 300px;
  }
  .coffee-process {
    justify-items: center;
  }
  .team-grid{
    align-items: center;
  }
}
